/*General CSS */

body{
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
}

h1{
    font-weight: 600;
    font-size: 32px;
    color: #6A2E35;
}

h3{
    font-family: "Montserrat", sans-serif;
}

#sidebar{
    position: fixed;
    height: 100%;
    width: 120px;
    top: 0;
    left: 0;
    background-color: #6A2E35;
    padding-top: 20px;
}

#sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar a:hover{
    text-decoration: underline;
    color: #008080;
}

footer{
    width: calc(100% - 120px);
    background-color: #FF7518;
    position: fixed;
    left: 120px;
    bottom: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer p{
    font-size: 18px;
    margin: 0;
    color: #FFFFFF;
}

footer a{  
    text-decoration: none;
    font-weight: 400;
    padding-right: 20px;
    font-style: italic;
    color: #FFFFFF;
}

footer a:hover{
    text-decoration: underline;
    color: #008080;
}

/* Index CSS */

#landing_header{
    text-align: center;
    background-color: #6E7B3A;
    margin-left: 58px;
    padding: 10px;
    width: 100%;
    font-family: "Lucida Handwriting", cursive;
}

#landing_container{
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.landing_image_gallery{
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.landing_gallery_item{
    flex: 1;
    text-align: center;
    margin: 0 20px;
}

.accomplishments{
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.landing_fig figcaption{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ruin_link {
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    color: #0000EE;
}

.ruin_link:hover {
    color: red;
    text-decoration: underline;
}

.ruin_link:visited {
    color: #800080;
    text-decoration: none;
}

/*  About CSS */

#about_body{
    padding-bottom: 80px;
}

#about_header{
    text-align: center;
    background-color: #6E7B3A;
    margin-left: 55px;
    padding: 10px;
    width: 100%;
    font-family: "Lucida Handwriting", cursive;
}

#portrait{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    padding-top: 20px;
}

#portrait_image{
    width: 450px;
    height: 600px;
    margin-left: 0px;
}

#portrait figcaption{
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about_bio_title, #about_interview_title{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 120px;
    font-family: "Montserrat", sans-serif;
}

#about_bio{
    font-family: "Montserrat", sans-serif;
}

#about_bio, #about_interview{
    margin-left: 120px;
    padding-left: 20px;
}

.Questions{
    font-family: "Montserrat", sans-serif;
}

.Answers{
    line-height: 1.6;
    font-family: "Lora", serif;
}

/* Hobbies CSS */

#hobbies_header{
    text-align: center;
    background-color: #6E7B3A;
    margin-left: 58px;
    padding: 10px;
    width: 100%;
    font-family: "Lucida Handwriting", cursive;
}

#hobbies_container{
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.hobbies_image_gallery{
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.hobbies_gallery_item{
    flex: 1;
    text-align: center;
    margin: 0 20px;
}

.hobbies_image{
    height: 500px;
    width: 400px;
    object-fit: cover;
}

.hobbies_figcaption{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}